<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <div class="row">
    <div class="row mb-2">
      <label for="currentUserPassword" class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >Aktuelles Passwort
      </label>
      <div class="col-md-10 col-lg-8 form-group">
        <input
          type="password"
          id="currentUserPassword"
          name="currentUserPassword"
          formControlName="currentUserPassword"
          class="form-control"
          required
        />
        <div *ngIf="submitted && passwordForm.controls.currentUserPassword.errors" class="error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.currentUserPassword.errors.required"
            >Passwort ist erforderlich!
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.currentUserPassword.errors.minlength"
            >Passwort muss mehr als 4 Zeichen haben!
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <label for="newUserPassword" class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >Neues Passwort
      </label>
      <div class="col-md-10 col-lg-8 form-group">
        <input
          type="password"
          id="newUserPassword"
          name="newUserPassword"
          formControlName="newUserPassword"
          class="form-control"
          required
        />
        <div *ngIf="submitted && passwordForm.controls.newUserPassword.errors" class="error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.newUserPassword.errors.required"
            >Passwort ist erforderlich!
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.newUserPassword.errors.minlength"
            >Passwort muss mehr als 4 Zeichen haben!
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <label for="repeatedUserPassword" class="col-form-label text-md-end text-muted col-md-2 col-lg-4"
        >Passwort wiederholen
      </label>
      <div class="col-md-10 col-lg-8 form-group">
        <input
          type="password"
          id="repeatedUserPassword"
          name="repeatedUserPassword"
          class="form-control"
          formControlName="repeatedUserPassword"
          required
        />
        <div *ngIf="submitted && passwordForm.controls.repeatedUserPassword.errors" class="error">
          <small class="form-text text-danger" *ngIf="passwordForm.controls.repeatedUserPassword.errors.required"
            >Passwort ist erforderlich!
          </small>
          <small class="form-text text-danger" *ngIf="passwordForm.controls.repeatedUserPassword.errors.minlength"
            >Passwort muss mehr als 4 Zeichen haben!
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end pe-4">
    <button type="submit" class="btn btn-primary" type="submit">Passwort ändern</button>
  </div>
</form>
